body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.cont {
    background-color: white;
    padding: 1rem;
    width: 50vw;
    margin: auto;
    border: 1px solid lightgray;
}

ul,
ol {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    border: 2px solid;
    border-radius: 0.5rem;
}

ul:hover {
    box-shadow: 2px 2px teal;
}

ol:hover {
    box-shadow: 2px 2px darkgreen;
}

ul {
    background-color: lightskyblue;
    box-shadow: 10px 15px teal;
}
ol {
    background-color: lightgray;
    box-shadow: 10px 15px darkgreen;
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    border-bottom: 1px solid brown;
    border-right: 1px solid brown;
    padding: 5px;
    box-shadow: 2px 5px burlywood;
    color: brown;
}

h1::after {
    content: " 🥙";
}

h3 {
    font-style: italic;
    color: gray;
    border-bottom: 1px solid lightgray;
}
h3::after {
    content: " 🥗";
}

.imgCont {
    width: 500px;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
}
